In [1]:
#Let's start by importing all packages needed.
import sklearn as skl
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

In [2]:
#Load the datasets.
df_am1 = pd.read_csv('~/Downloads/DAA/archive/amsterdam_weekdays.csv')
df_am2 = pd.read_csv('~/Downloads/DAA/archive/amsterdam_weekends.csv')

df_at1 = pd.read_csv('~/Downloads/DAA/archive/athens_weekdays.csv')
df_at2 = pd.read_csv('~/Downloads/DAA/archive/athens_weekends.csv')

df_ba1 = pd.read_csv('~/Downloads/DAA/archive/barcelona_weekdays.csv')
df_ba2 = pd.read_csv('~/Downloads/DAA/archive/barcelona_weekends.csv')

df_be1 = pd.read_csv('~/Downloads/DAA/archive/berlin_weekdays.csv')
df_be2 = pd.read_csv('~/Downloads/DAA/archive/berlin_weekends.csv')

df_bu1 = pd.read_csv('~/Downloads/DAA/archive/budapest_weekdays.csv')
df_bu2 = pd.read_csv('~/Downloads/DAA/archive/budapest_weekends.csv')

df_li1 = pd.read_csv('~/Downloads/DAA/archive/lisbon_weekdays.csv')
df_li2 = pd.read_csv('~/Downloads/DAA/archive/lisbon_weekends.csv')

df_lo1 = pd.read_csv('~/Downloads/DAA/archive/london_weekdays.csv')
df_lo2 = pd.read_csv('~/Downloads/DAA/archive/london_weekends.csv')

df_pa1 = pd.read_csv('~/Downloads/DAA/archive/paris_weekdays.csv')
df_pa2 = pd.read_csv('~/Downloads/DAA/archive/paris_weekends.csv')

df_ro1 = pd.read_csv('~/Downloads/DAA/archive/rome_weekdays.csv')
df_ro2 = pd.read_csv('~/Downloads/DAA/archive/rome_weekends.csv')

df_vi1 = pd.read_csv('~/Downloads/DAA/archive/vienna_weekdays.csv')
df_vi2 = pd.read_csv('~/Downloads/DAA/archive/vienna_weekends.csv')

In [49]:
# ro distances must be rounded to 0 

df_vi1.rename(columns = {'realSum':'realSum_wd', 'room_type':'room_type_wd', 
                        'room_shared':'room_shared_wd', 'room_private':'room_private_wd',
                        'person_capacity':'person_capacity_wd', 'host_is_superhost':'host_is_superhost_wd',
                        'multi':'multi_wd', 'biz':'biz_wd', 'cleanliness_rating':'cleanliness_rating_wd',
                        'guest_satisfaction_overall':'guest_satisfaction_overall_wd',
                        'bedrooms':'bedrooms_wd', 'dist':'dist_wd', 'metro_dist':'metro_dist_wd',
                        'attr_index':'attr_index_wd', 'attr_index_norm':'attr_index_norm_wd',
                        'rest_index':'rest_index_wd', 'rest_index_norm':'rest_index_norm_wd'
                        }, inplace = True)

In [50]:
df_vi2.rename(columns = {'realSum':'realSum_we', 'room_type':'room_type_we', 
                        'room_shared':'room_shared_we', 'room_private':'room_private_we',
                        'person_capacity':'person_capacity_we', 'host_is_superhost':'host_is_superhost_we',
                        'multi':'multi_we', 'biz':'biz_we', 'cleanliness_rating':'cleanliness_rating_we',
                        'guest_satisfaction_overall':'guest_satisfaction_overall_we',
                        'bedrooms':'bedrooms_we', 'dist':'dist_we', 'metro_dist':'metro_dist_we',
                        'attr_index':'attr_index_we', 'attr_index_norm':'attr_index_norm_we',
                        'rest_index':'rest_index_we', 'rest_index_norm':'rest_index_norm_we'
                        }, inplace = True)

In [51]:
df_athens = pd.merge(df_vi1, df_vi2, how="inner", on=['lng', 'lat'])
print(len(df_athens.index))

1647

In [52]:
df_athens.tail()

,Unnamed: 0_x,realSum_wd,room_type_wd,room_shared_wd,room_private_wd,person_capacity_wd,host_is_superhost_wd,multi_wd,biz_wd,cleanliness_rating_wd,...,biz_we,cleanliness_rating_we,guest_satisfaction_overall_we,bedrooms_we,dist_we,metro_dist_we,attr_index_we,attr_index_norm_we,rest_index_we,rest_index_norm_we
1642,1733,219.012224,Entire home/apt,False,False,4.0,False,0,0,8.0,...,0,8.0,80.0,0,0.298164,0.257919,857.407545,61.401871,593.177861,14.336880
1643,1734,191.197438,Entire home/apt,False,False,4.0,False,0,1,10.0,...,1,10.0,100.0,2,1.053001,0.332071,195.652205,14.011320,305.775624,7.390479
1644,1735,251.501765,Entire home/apt,False,False,2.0,False,0,0,8.0,...,0,8.0,86.0,1,0.810205,0.100839,204.970121,14.678608,342.182813,8.270427
1645,1736,637.636444,Entire home/apt,False,False,2.0,False,0,0,10.0,...,0,10.0,93.0,1,0.994051,0.202539,169.073402,12.107921,282.296424,6.822996
1646,1737,133.230489,Private room,False,True,4.0,True,1,0,10.0,...,0,10.0,93.0,1,1.263932,0.480903,150.450381,10.774264,225.247293,5.444140

In [53]:
df_athens.isna().any()

Unnamed: 0_x                     False
realSum_wd                       False
room_type_wd                     False
room_shared_wd                   False
room_private_wd                  False
person_capacity_wd               False
host_is_superhost_wd             False
multi_wd                         False
biz_wd                           False
cleanliness_rating_wd            False
guest_satisfaction_overall_wd    False
bedrooms_wd                      False
dist_wd                          False
metro_dist_wd                    False
attr_index_wd                    False
attr_index_norm_wd               False
rest_index_wd                    False
rest_index_norm_wd               False
lng                              False
lat                              False
Unnamed: 0_y                     False
realSum_we                       False
room_type_we                     False
room_shared_we                   False
room_private_we                  False
person_capacity_we               False
host_is_superhost_we             False
multi_we                         False
biz_we                           False
cleanliness_rating_we            False
guest_satisfaction_overall_we    False
bedrooms_we                      False
dist_we                          False
metro_dist_we                    False
attr_index_we                    False
attr_index_norm_we               False
rest_index_we                    False
rest_index_norm_we               False
dtype: bool

In [54]:
df_athens = df_athens.drop(['Unnamed: 0_x', 'Unnamed: 0_y'], axis=1)
print(df_athens.columns)

Index(['realSum_wd', 'room_type_wd', 'room_shared_wd', 'room_private_wd',
       'person_capacity_wd', 'host_is_superhost_wd', 'multi_wd', 'biz_wd',
       'cleanliness_rating_wd', 'guest_satisfaction_overall_wd', 'bedrooms_wd',
       'dist_wd', 'metro_dist_wd', 'attr_index_wd', 'attr_index_norm_wd',
       'rest_index_wd', 'rest_index_norm_wd', 'lng', 'lat', 'realSum_we',
       'room_type_we', 'room_shared_we', 'room_private_we',
       'person_capacity_we', 'host_is_superhost_we', 'multi_we', 'biz_we',
       'cleanliness_rating_we', 'guest_satisfaction_overall_we', 'bedrooms_we',
       'dist_we', 'metro_dist_we', 'attr_index_we', 'attr_index_norm_we',
       'rest_index_we', 'rest_index_norm_we'],
      dtype='object')

In [55]:
print(df_athens['dist_we'].equals(df_athens['dist_wd']))
df_temp = df_athens[['dist_we', 'dist_wd']]
df_temp.query('dist_we != dist_wd')

False

       dist_we   dist_wd
0     4.807865  4.807912
1     3.240613  3.240595
2     2.241126  2.241146
3     4.611958  4.611961
4     2.371551  2.371547
...        ...       ...
1642  0.298164  0.298179
1643  1.053001  1.052982
1644  0.810205  0.810224
1645  0.994051  0.994039
1646  1.263932  1.263948

[1647 rows x 2 columns]

In [56]:
print(df_athens['metro_dist_we'].equals(df_athens['metro_dist_wd']))
df_temp = df_athens[['metro_dist_we', 'metro_dist_wd']]
df_temp.query('metro_dist_we != metro_dist_wd')

False

      metro_dist_we  metro_dist_wd
0          0.228303       0.228253
1          0.610450       0.610430
2          1.119505       1.119507
3          0.199950       0.199926
4          0.452419       0.452412
...             ...            ...
1642       0.257919       0.257904
1643       0.332071       0.332054
1644       0.100839       0.100844
1645       0.202539       0.202537
1646       0.480903       0.480922

[1647 rows x 2 columns]

In [57]:
df_athens['dist_we'] = df_athens['dist_we'].round(decimals = 1)  #1 decimal because it's the only way to mitigate the errors commited
df_athens['dist_wd'] = df_athens['dist_wd'].round(decimals = 1)
print(df_athens['dist_wd'].equals(df_athens['dist_we']))
df_temp = df_athens[['dist_wd', 'dist_we']]
df_temp.query('dist_we != dist_wd')

True

Empty DataFrame
Columns: [dist_wd, dist_we]
Index: []